{% extends 'base.html' %}
{% block aboutus %}
<div class="sub_page">
    <section class="about_section layout_padding">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="img-box">
            <img src="/static/images/about.jpg" alt="">
          </div>
        </div>
        <div class="col-md-6 p-3">
          <div class="detail-box">
            <div class="heading_container">
              <h2>
                About <span>Us</span>
              </h2>
            </div>
            <p>
              Medico Hospital, Chennai renders 360 degree advanced tertiary healthcare services with multi-super speciality and a state-of-the-art multi-organ transplant service. With the finest combination of experience, expertise, state-of-the-art technology and well-coordinated patient-centric teamwork, every step is aimed at ensuring excellence in patient care.
              <br>
              <br>
              The online consultation strives to establish trust and excellence. It's Chennai’s vision is to offer an advanced full range of primary and speciality care medical care services as well as enabling cross speciality consultation for unmatched patient experience.
            </p>
            <a href="">
              Read More
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
{% endblock %}
<!-- end about section -->