{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
  <link rel="stylesheet" href="/static/style.css">
  <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
  <link rel="stylesheet" href="{% static 'datatables/datatables.min.css' %}">
</head>
<body>
  <div class="hero_area">
    <!-- header section strats -->
    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
      {{message}}
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}
    {% endif %}
    <div>
    <header class="header_section fixed-top opacity-60" style="background-color:#70B6AD;">
      <div class="container">
        <nav class="navbar navbar-expand-lg custom_nav-container ">
          <a class="navbar-brand" href="{% url 'home' %}">
            <span>
              Médico
            </span>
          </a>

          <button class="navbar-toggler text-black" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="sidebar offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
  
          <div class="offcanvas-header text-black border-bottom">
            <h5 class="offcanvas-title" id="offcanvasLabel">Médico</h5>
            <button type="button" class="btn-close btn-close-black" data-bs-dismiss="offcanvas" aria-label="Close"></button>
          </div>
          
          <div class="offcanvas-body">
              <ul class="navbar-nav mx-auto">
                <li class="nav-item active">
                  <a class="nav-link" href="{% url 'home' %}"> Home</a>
                </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'aboutus' %}"> About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'department' %}">Departments</a>
              </li>
              {% if user.is_anonymous %}
              <li class="nav-item">
                <a href="{% url 'appointment' %}" class="nav-link">Appointment</a>
              </li>
              {% else %}
              <li class="nav-item">
                <li class="nav-item dropdown">
                  <a class="nav-link" href="#" data-bs-auto-close="outside" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Appointment
                  </a>
                  <ul class="dropdown-menu">
                    <li class="dropend">
                      <a class="dropdown-item" href="{% url 'appointment' %}">Appointment Form</a>
                    </li>
                    <li class="dropend">
                      <a class="dropdown-item" href="{% url 'myappointments' %}">My Appointment</a>
                    </li>
                  </ul>
                </li>
              </li>
              {% endif %}
              <li class="nav-item">
                <a class="nav-link" href="{% url 'contact' %}">Contact Us</a>
              </li>
              {% if user.is_anonymous %}
                <li class="nav-item dropdown">
                  <a class="nav-link" href="#" data-bs-auto-close="outside" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="bi bi-person fs-4 d-flex text-align-center justify-content-center"></i>
                  </a>
                  <ul class="dropdown-menu">
                    <li class="dropend">
                      <a class="dropdown-item" data-bs-toggle="dropdown" href="#">Doctor</a>
                      <ul class="dropdown-menu">
                        <li><a href="{% url 'doctorSignUp' %}" class="dropdown-item">Sign Up</a></li>
                        <li><a href="{% url 'doctorLogIn' %}" class="dropdown-item">Log In</a></li>
                      </ul>
                      <a class="dropdown-item" data-bs-toggle="dropdown" href="#">Patient</a>
                      <ul class="dropdown-menu">
                        <li><a href="{% url 'patientSignUp' %}" class="dropdown-item">Sign Up</a></li>
                        <li><a href="{% url 'patientLogIn' %}" class="dropdown-item">Log In</a></li>
                      </ul>
                    </li>
                  </ul>
                </li>
              {% else %}
                <li class="nav-item">
                  <a href="" class="nav-link" data-bs-toggle="modal" data-bs-target="#exampleModal">Logout</a>
                </li>
                <li class="nav-item">
                <a class="nav-link mx-auto" href="{% url 'profile' %}"><i class="bi bi-person fs-4 d-flex text-align-center justify-content-center"></i></a>
                </li>
              {% endif %}
            </ul>
          </div>
          </div>
        </nav>
      </div>
    </header>
    </div>
  </div>   
    <div>
      {% block bg_image %}
      {% endblock %}
      {% block slider %}
      {% endblock %}
    </div>
  <!-- end header section -->
 
  <!-- end header section -->
  {% block department %}
  {% endblock %}
  {% block aboutus %}
  {% endblock %}
  {% block doctor %}
  {% endblock %}
  {% block contact %}
  {% endblock %}
  {% block signup %}
  {% endblock %}
  {% block signin %}
  {% endblock %}
  {% block appointmentform %}
  {% endblock %}
  {% block myconsultation %}
  {% endblock %}
  {% block adminconsultation %}
  {% endblock %}
  {% block profile %}
  {% endblock %}
  {% block images %}
  {% endblock %}
  {% block start %}
  {% endblock %}
  
    <!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel"><i class="bi bi-box-arrow-right"></i>&nbsp;&nbsp;Logout</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body text-center">
        <span class="text-danger"><i class="bi bi-box-arrow-right fs-1"></i></span>
        <h5>Are you sure you want to logout ?</h5>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <a href="{% url 'logout_profile' %}" type="button" class="btn btn-danger">Logout</a>
      </div>
    </div>
  </div>
</div>
<!-- footer section -->
<div>
  <footer class="footer_section">
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-lg-3 footer_col">
            <div class="footer_contact">
              <h4>
                Reach at..
              </h4>
              <div class="contact_link_box">
                <a href="">
                  <i class="bi bi-geo-alt" aria-hidden="true"></i>
                  <span>
                    Location
                  </span>
                </a>
                <a href="">
                  <i class="bi bi-phone" aria-hidden="true"></i>
                  <span>
                    Call +01 1234567890
                  </span>
                </a>
                <a href="">
                  <i class="bi bi-envelope" aria-hidden="true"></i>
                  <span>
                    demo@gmail.com
                  </span>
                </a>
              </div>
            </div>
            <div class="footer_social">
              <a href="">
                <i class="bi bi-facebook" aria-hidden="true"></i>
              </a>
              <a href="">
                <i class="bi bi-twitter" aria-hidden="true"></i>
              </a>
              <a href="">
                <i class="bi bi-linkedin" aria-hidden="true"></i>
              </a>
              <a href="">
                <i class="bi bi-instagram" aria-hidden="true"></i>
              </a>
            </div>
          </div>
          <div class="col-md-6 col-lg-5 footer_col">
            <div class="footer_detail">
              <h4>
                About
              </h4>
              <p>
                Medico online Consultation, Chennai renders 360 degree advanced tertiary healthcare services with multi-super speciality and a state-of-the-art multi-organ transplant service. With the finest combination of experience, expertise, state-of-the-art technology and well-coordinated patient-centric teamwork, every step is aimed at ensuring excellence in patient care.
              </p>
            </div>
          </div>
          <div class="col-md-6 col-lg-2 mx-auto footer_col">
            <div class="footer_link_box">
              <h4>
                Links
              </h4>
              <div class="footer_links">
                <a class="active" href="{% url 'home' %}">
                  Home
                </a>
                <a class="" href="{% url 'aboutus' %}">
                  About Us
                </a>
                <a class="" href="{% url 'department' %}">
                  Departments
                </a>
                <a class="" href="{% url 'appointment' %}">
                  Appointment
                </a>
                <a class="" href="{% url 'contact' %}">
                  Contact
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="footer-info">
           <p> &copy; All Rights Reserved By 
            Medico</p>
        </div>  
      </div>
  </footer>
</div> 
<!-- end footer section -->
<script src="{% static 'datatables/datatables.min.js'%}"></script>
<script src="https://cdn.datatables.net/1.10.4/js/jquery.dataTables.min.js"></script>
<script type="text/javascript">
$(document).ready(function () {
    $('#table_id').dataTable();
});</script>
  </body>
  </html>
