{% extends 'base.html' %}
{% block department %}
<div class="sub_page">
  <!-- department section -->
<section class="department_section layout_padding">
<div class="department_container">
  <div class="container">
    <div class="heading_container heading_center">
      <h2>
        Our Departments
      </h2>
    </div>
    <div class="row">
      <div class="col-md-3">
        <div class="box">
          <div class="img-box">
            <img src="/static/icon/cardiac.svg" alt="">
          </div>
          <div class="detail-box">
            <h5>
              Cardiology
            </h5>
            <p>
              Medico leads the league in healthcare when it comes to the deployment of cutting-edge technology for Heart Care. Usage of technology helps in accurate diagnosis and effective treatment of heart diseases, a heart transplants.
            </p>
          </div>
        </div>
      </div>

      <div class="col-md-3">
        <div class="box">
          <div class="img-box">
            <img src="/static/icon/ent.svg" alt="">
          </div>
          <div class="detail-box">
            <h5>
              ENT
            </h5>
            <p>
              The institute leads the league in healthcare when it comes to the deployment of cutting-edge technology for Heart Care. Usage of technology helps in accurate diagnosis and effective treatment of ENT.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="box">
          <div class="img-box">
            <img src="/static/icon/osteoporosis.svg" alt="">
          </div>
          <div class="detail-box">
            <h5>
              Ortho
            </h5>
            <p>
              Medico is a centre of international repute for complex Bone and Joint related conditions.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="box">
          <div class="img-box">
            <img src="/static/icon/neurology.svg" alt="">
          </div>
          <div class="detail-box">
            <h5>
              Neurology
            </h5>
            <p>
              Medico is led by a team of highly qualified Best neurologists, neurosurgeons, interventional neuro-radiologist, and allied disciplines provide the best possible care for patients.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="btn-box">
      <a href="">
        View All
      </a>
    </div>
  </div>
</div>
</section>
</div>
{% endblock %}
