<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
</head>
<body>
    <div class="input-group w-50 m-auto">
        <div class="input-group-prepend">
            <span class="input-group-text"><i class="bi bi-search"></i></span>
        </div>
        <form action="" method="POST" class="d-flex">
            {% csrf_token %}
            <input type="text" name="search" class="form-control" placeholder="search">
            <button class="btn btn-primary" type="submit">submit</button>
        </form>
    </div>
    <center>
        {% if srh %}
        <h1>you searched for {{srh}}</h1>
        <br>
        {% for i in appoint %}
        {{i}}
        {% endfor %}
        {% else %}
        <h1>you forgot to search...</h1>
        {% endif %}
    </center>
</body>
</html>